@tailwind base;
@tailwind components;
@tailwind utilities;

@import './font.scss';
@import './variable.scss';
@import './header.scss';
@import'./navbar.scss';
@import'./homepage.scss';
@import'./footer.scss';


html,
body {
      overflow-x: hidden;
      overscroll-behavior-x: none;
      scroll-behavior: smooth;
}

.rotate {
      transition: transform 0.3s ease-in-out;
}

.rotate-up {
      transform: rotate(-180deg);
      margin-bottom: 3px;
}

::selection {
      background-color: $color-yellow;
      color: $color-white;
}

::-webkit-scrollbar {
      width: 9px;
}

::-webkit-scrollbar-track {
      background: $color-yellow;
}

::-webkit-scrollbar-thumb {
      background: $color-secondary;
}

::-webkit-scrollbar-thumb:hover {
      border-radius: 10px;
      background: $color-primary;
}

#back-top {
      width: 50px;
      height: 50px;
      background-color: $color-yellow;
      position: fixed;
      bottom: 50px;
      right: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: fadeInUp .7s ease-in-out;
      transition: all .5s ease-in-out;
      z-index: 3;

      i {
            color: $color-white;
            font-size: 20px;
      }

      &:hover {
            background-color: $color-primary;
      }
}

@keyframes fadeInUp {
      0% {
            opacity: 0;
            transform: translate3d(0%, 100%, 0);
      }

      100% {
            opacity: 1;
            transform: none;
      }
}


@media (max-width: 578px) {
      #back-top {
            width: 45px;
            height: 45px;
            bottom: 22px;
            right: 20px;
            i {
                  font-size: 18px;
            }
      }
}
